* {
    box-sizing: border-box;
}

a:active,
a:focus,
input:active,
input:focus,
textarea:active,
textarea:focus,
button:active,
button:focus,
label:active,
label:focus {
    outline: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;
    text-decoration: none !important;
}
button{
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 50px;
    font-weight: 500;
}
h1{
    font-size: 60px;
    line-height: 110%;
    //margin-bottom: 152px;
}
h2{
    font-size: 48px;
    line-height: 110%;
}
h3{
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}

input,
select,
textarea {
    outline: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;
    border: 0;
}

p {
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    &:last-child{
        margin: 0;
    }
}

img {
    line-height: 100%;
    max-width: 100%;
    display: block;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
    text-decoration: none;
    position: relative;
    //color: currentColor;
}

ul {
    list-style-type: none;
    list-style-position: inside;
    display: block;
    margin: 0;
    padding: 0;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
    display: block;
    margin: 0;
    padding: 0;
}

b,
strong {
    font-weight: 600;
}

i {
    font-style: italic;
}

table {
    border: 0;
    border-collapse: collapse;
    margin: 0;
    width: 100%;
}

table th {
    font-weight: 400;
}

table th,
table td {
    border: 0;
    padding: 0;
}

:root {
    --font-family: "Lexend", sans-serif;
    --transition: all 0.2s ease-in-out;
    --transition05: all 0.5s ease-in-out;
    --transitionbtn: all 0.8s cubic-bezier(.4,0,.2,1);
    --white: #fff;
    --blue: #478bf9;
    --green: #7DDACF;
    --lightblue: #9DADF2;
    --darkblue: #3a74d1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    color: var(--white);
    padding: 0;
    margin: 0;
    flex-direction: column;
    background: #110a1d;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    font-optical-sizing: auto;
    font-style: normal;
    position: relative;
}
.oh{
    overflow: hidden;
}
.container {
    width: 1640px;
    margin: 0 auto;
    padding: 0;
}
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    border-radius: 48px;
    font-weight: 500;
    font-size: 24px;
    line-height: 133%;
    text-transform: uppercase;
    padding: 0 72px;
    transition: var(--transition);
    background: var(--blue);
    position: relative;
    overflow: hidden;
    border: 0;
    color: #fff;
    span{
        position: relative;
        z-index: 20;
        transition: var(--transition);
    }
    &:after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 0;
        padding-top: 100%;
        transform: translateY(100%);
        border-radius: 50%;
        transition: var(--transitionbtn);
        z-index: 10;
        background: var(--darkblue);
    }
    &:hover {
        box-shadow: 0 0 44px 2px var(--blue);
        span{
            transform: scale(1.1);
        }
        &:after{
            transform: translateY(0);
        }
    }
     &_min{
        height: 42px;
        font-size: 12px;
        padding: 0 36px;
    }
 
}

.nowrap{
    white-space: nowrap;
}
.wow {
    visibility: hidden;
}
.line__pic{
    
}
.header {
    padding-top: 16px;
    &__container {
        border: 4px solid var(--blue);
        height: 96px;
        border-radius: 64px;
        padding: 0 48px;
        display: flex;
        align-items: center;
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    &__nav-wrap {
        flex: 1 0 auto;
    }
    &__nav {
        display: flex;
        gap: 32px;
        justify-content: center;
    }
    &__nav-item {}
    &__nav-link {
        color: var(--white);
        position: relative;
        transition: var(--transition);
        &:before {
            content: "";
            height: 1px;
            position: absolute;
            bottom: -2px;
            width: 100%;
            right: 0;
            width: 0;
            background: var(--blue);
            transition: var(--transition);
        }
        &:hover{
            color: var(--blue);
            &:before {
                width: 100%;
                left: 0;
            }
        }
    }
    &__group {
        display: flex;
        gap: 14px;
    }
    &__menu-btn {
        display: none;
    }
}
.btn {
    &_min {
        height: 48px;
        border-radius: 24px;
        padding: 0 14px;
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        text-transform: uppercase;
    }
    &_invert {
        background: transparent;
        border: 2px solid #9dadf2;
        &:after{
            background: #3a4573;
        }
    }
    &_lang {
        display: flex;
        gap: 8px;
        svg{
            width: 16px;
            height: 16px;
            fill: #9DADF2;
            position: relative;
            z-index: 20;
        }
    }
    &_lang-min {
        display: none;
    }
}
.hamburger {
}
.main {
    flex: 1 0 auto;
    &__inner{
        display: flex;
        gap: 64px;
        height: 960px;
        align-items: center;
        position: relative;
    }
}
.shadow{
    position: fixed;
    right: 0;
    pointer-events: none;
}
.shadow_2{
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
}
.article {
}
.intro {
    width: 670px;
}
h1{
    font-weight: 500;
    font-size: 96px;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 24px;
    span{
        display: block;
        color: var(--blue);
    }
}
h3{
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 48px;
}
.line-wrap {
    overflow: hidden;
    height: 100%;
    display: flex;
    gap: 16px;
    flex: 1 0 auto;;
}
@keyframes scroll {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(calc(-100% - 22px));
    }
}
@keyframes scroll_invert {
    from {
        transform: translateY(calc(-100% - 22px));
        
    }
    to {
        transform: translateY(0);
    }
}
.line-inner_1{
    .line{
        animation: scroll 90s linear infinite;
    }
}
.line-inner_2{
    .line{
        animation: scroll_invert 120s linear infinite;
    }
}
.line-inner_3{
    .line{
        animation: scroll 150s linear infinite;
    }
}
.line {
    display: flex;
    flex-direction: column;
    gap: 22px;
    width: 100px;
    &-inner{
        display: flex;
        flex-direction: column;
        gap: 22px;
        &_1{
            opacity: .2;
            
        }
        &_2{
            opacity: .6;
            
        }
        &_3{
            opacity: .4;
            
        }
    }
    &-wrap{
        position: relative;
        display: flex;
        &:after{
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 500px;
            bottom: 0;
            left: 0;
            background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(17,10,29,1) 100%);
        }
    }
    &__item {
        
        svg{
            display: block;
        }
        &_white{
            .line__pic{
                fill: var(--white);
            }
        }
        &_green{
            .line__pic{
                fill: var(--green);
            }
        }
        &_blue{
            .line__pic{
                fill: var(--blue);
            }
        }
        &_lightblue{
            .line__pic{
                fill: var(--lightblue); 
            }
        }
        &_long{
            aspect-ratio: 1/2;
            border-radius: 50px;
            display: flex;
            align-items: flex-start; 
            flex: 1 0 auto; 
            &-top{
                align-items: flex-end; 
            }
            &.line__item_white{
                box-shadow: 0 0 0 3px inset var(--white);
            }
            &.line__item_green{
                box-shadow: 0 0 0 3px inset var(--green);
            }
            &.line__item_blue{
                box-shadow: 0 0 0 3px inset var(--blue);
            }
            &.line__item_lightblue{
                box-shadow: 0 0 0 3px inset var(--lightblue);
            }        
        }
    }
    &__pic {
        width: 100%;
        aspect-ratio: 1/1;
    }
}
.blog {
    width: 530px;
    &__wrap {
        border: 3px solid #478bf9;
        border-radius: 100px;
        padding: 24px 40px 24px 24px;
        background: rgba(255, 255, 255, 0.12);
        height: 600px;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        gap: 16px;
        height: 100%;
        overflow: hidden;
    }
    &__item {
        &-inner {
            display: block;
            color: var(--white);
            border-radius: 196px;
            padding: 24px 64px;
            background: #1e1231;
            font-weight: 400;
            font-size: 24px;
            line-height: 117%;
        }

    }
    &__link{
        background: var(--blue);
    }
    &__desc {
        display: block;
        margin-bottom: 14px;
    }
    &__date {
        font-weight: 500;
        font-size: 14px;
        line-height: 114%;
        color: rgba(255, 255, 255, 0.6);
        display: block;
    }
}
h2{
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.footer {
    border: 4px solid var(--blue);
    border-bottom: 0;
    border-radius: 64px 64px 0 0;
    padding: 0 0 24px;
    height: 130px;
    display: flex;
    align-items: flex-end;
    background: #1e1231;
    h4{
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        margin-bottom: 14px;
        text-align: right;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    &__nav {
        display: flex;
        gap: 40px;
    }
    &__nav-item {}
    &__nav-link {
        color: var(--white);
        position: relative;
        transition: var(--transition);
        &:before {
            content: "";
            height: 1px;
            position: absolute;
            bottom: -2px;
            width: 100%;
            right: 0;
            width: 0;
            background: var(--blue);
            transition: var(--transition);
        }
        &:hover{
            color: var(--blue);
            &:before {
                width: 100%;
                left: 0;
            }
        }
    }
    &__soc {
        position: relative;
        z-index: 10;
    }
    &__soc-title {}
    &__soc-list {
        display: flex;
        gap: 8px;
    }
    &__soc-item {}
    &__soc-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        position: relative;
        &:after, &:before{
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background: url(../img/soc_bg.svg) -32px 0 no-repeat;
            top: 0;
            left: 0;
            z-index: -1;
            transition: var(--transition);
        }
        &:before{
            background-position: 0 0;
        }
        &:hover{
            &:after{
                opacity: 0;
            }
        }
    }
}
.simplebar-mask{
    border-radius: 100px;
}
.simplebar-track.simplebar-vertical{
    right: 8px;
    background: rgba(255, 255, 255, 0.12);
    top: 100px;
    bottom: 100px;
    width: 8px;
    border-radius: 4px;
}
.simplebar-scrollbar:before{
    opacity: 1;
    background: var(--blue);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 4px;
}
.simplebar-scrollbar.simplebar-visible:before{
    opacity: 1;
}


































@import '_query';