* {
    box-sizing: border-box;
}

a:active,
a:focus,
input:active,
input:focus,
textarea:active,
textarea:focus,
button:active,
button:focus,
label:active,
label:focus {
    outline: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;
    text-decoration: none !important;
}
button{
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 50px;
    font-weight: 500;
}
h1{
    font-size: 60px;
    line-height: 110%;
    //margin-bottom: 152px;
}
h2{
    font-size: 48px;
    line-height: 110%;
}
h3{
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}

input,
select,
textarea {
    outline: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;
    border: 0;
}

p {
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    &:last-child{
        margin: 0;
    }
}

img {
    line-height: 100%;
    max-width: 100%;
    display: block;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
    text-decoration: none;
    position: relative;
    //color: currentColor;
}

ul {
    list-style-type: none;
    list-style-position: inside;
    display: block;
    margin: 0;
    padding: 0;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
    display: block;
    margin: 0;
    padding: 0;
}

b,
strong {
    font-weight: 600;
}

i {
    font-style: italic;
}

table {
    border: 0;
    border-collapse: collapse;
    margin: 0;
    width: 100%;
}

table th {
    font-weight: 400;
}

table th,
table td {
    border: 0;
    padding: 0;
}

:root {
    --font-family: "Lexend", sans-serif;
    --transition: all 0.2s ease-in-out;
    --transition05: all 0.5s ease-in-out;
    --transitionbtn: all 0.8s cubic-bezier(.4,0,.2,1);
    --blue: #478bf9;
    --darkblue: #3a74d1;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    color: #fff;
    padding: 0;
    margin: 0;
    flex-direction: column;
    background: #110a1d;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    font-optical-sizing: auto;
    font-style: normal;
}
.oh{
    overflow: hidden;
}

.main {
    padding-top: 120px;
    flex: 1 0 auto;
}

.contaner {
    width: 980px;
    margin: 0 auto;
    padding: 0;
}
.btn-ac {
    padding: 50px 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    border-radius: 48px;
    font-weight: 500;
    font-size: 24px;
    line-height: 133%;
    text-transform: uppercase;
    padding: 0 72px;
    transition: var(--transition);
    background: var(--blue);
    position: relative;
    overflow: hidden;
    border: 0;
    color: #fff;
    span{
        position: relative;
        z-index: 20;
        transition: var(--transition);
    }
    &:after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 0;
        padding-top: 100%;
        transform: translateY(100%);
        border-radius: 50%;
        transition: var(--transitionbtn);
        z-index: 10;
        background: var(--darkblue);
    }
    &:hover {
        box-shadow: 0 0 44px 2px var(--blue);
        span{
            transform: scale(1.02);
        }
        &:after{
            transform: translateY(0);
        }
    }
     &_min{
        height: 42px;
        font-size: 12px;
        padding: 0 36px;
    }
 
}

.nowrap{
    white-space: nowrap;
}
.wow {
    visibility: hidden;
}




































@import '_query';